img {
  max-height: 480px;
  width: 100%;
  margin-top: 50px;
}

header {
  margin-bottom: 50px;
}

.footer {
  background-size: cover;
  bottom: 0;
  width: 100%;
  max-height: 480px;
}

.inline {
  display: inline;
}
